#site-nav {
  border-bottom: 3px solid $primary;
  background: url(../img/qul-squares.svg) white no-repeat;
  background-position: -22px center;
  background-size: 90px;

  @include desktop {
    background-position: -25px center;
    background-size: 100px;
  }

  .container {
    .navbar-brand {
      a {
        width: 350px;
        margin-left: 60px;

        @include desktop {
          width: 380px;
          margin-left: 40px;
        }
      }
    }

    .navbar-burger span {
      height: 2px;
    }

    .navbar-item {
      color: $primary;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
