/*
* Colours
*/
$queens-logo-black: #231f20;
$queens-logo-red: #b81237;
$queens-logo-blue: #002f5e;
$queens-logo-gold: #febe10;
$queens-logo-purple: #662d91;
$clr-qul-blue: #406486;
$clr-qul-light-blue: #d9e0e7;
$clr-qul-lighter-blue: lighten($clr-qul-light-blue, 4%);
$clr-qul-link-blue: #1d70ad;
$clr-qul-yellow: #fcc34c;
$clr-qul-gray: #8c8c8c;
$clr-qul-light-gray: lighten($clr-qul-gray, 20%);

/*
* Colour Usage
*/
$clr-primary: $queens-logo-blue;
$clr-secondary: $queens-logo-red;
$clr-text-main: $queens-logo-black;
$clr-text-link: $clr-qul-link-blue;
$clr-text-link-visited: $queens-logo-purple;

/*
* Typography
*/
$font-main: 'Open Sans', sans-serif;


/*
* Bulma Overrides
*/
// see: https://bulma.io/documentation/customize/variables/
$primary: $queens-logo-blue;
$primary-invert: white;
$family-sans-serif: $font-main;
$body-color: $queens-logo-black;
$link: $clr-qul-link-blue;
$link-visited: $queens-logo-purple;
$link-hover: $queens-logo-red;
$navbar-burger-color: $primary;
// $navbar-height: 5rem;
// $navbar-breakpoint: $tablet;
// $navbar-item-active-color: green;